.inputWrap {
    max-width: 320px;
    margin: 20px 0;
  }
  .label {
    font-size: 16px;
    line-height: 1.33;
  }
  .input {
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.33;
    padding: 0 4px;
    height: 28px;
  }